<h1>About</h1>
<p>
  <%= link_to "My original portfolio", "http://ilyasitnikov.com/portfolio" %>
  was done in CSS3 / HTML5.
  What you see here is <%= link_to "Ruby on Rails", "http://rubyonrails.org"%> version of the same thing. 
</p>

