<div class="hero-unit">

<h1>Ilya Sitnikov Portfolio - RoR Edition</h1>
<p>
	This is Ruby on Rails version of 
	<%= link_to "my original portfolio", "http://ihrtn.com/portfolio" %>
	
</p>
<p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
