<div class="hero-unit">
<br>
<p>
	<!--
	My 
	<%= link_to "original portfolio", "http://ilyasitnikov.com/portfolio" %>
	was done in HTML5/CSS3.
	What you see here is Ruby on Rails version of it.
-->
</p>
<p>
	<!-- here's how you add classes to buttons in RoR
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	-->
	<section id="latestwork">

<a href="http://ilyasitnikov.com/cc/">

<img src="assets/cars.png" width="330" height="408" alt="customcars" class="image2">

</a>

</section>

</section>

<section id="description">

<h2>Custom Cars Company</h2>

<h4>Created in: 2011</h4>

<h4>Client: School of the Museum of Fine Arts</h4>

<p>Inspired by the original design of Mr Norm's Garage Custom Cars Company 
was the very first website That I completed while studying Beginner Web
 Design at the Museum of Fine Arts in Boston.</p>

<p>CCM features creme de la creme of custom steel beasts
from Cuda-71 to Challenger 800a
plus shop where you can purchase car parts.</p>

<p>Technology-wise, the website was created completely from 
the ground-up in Dreamweaver and runs on CSS2 and HTML4.</p> 

&nbsp;

</section>

<section class="work-box2">

<section id="latestwork2">

<a href="http://ilyasitnikov.com/atom/">

<img src="assets/atom.png" width="400" height="458" alt="customcars" class="image3">

</a>

</section>

</section>

<section id="description2">

<h2>Atomizer</h2>

<h4>Created in: 2011</h4>

<h4>Client: School of the Museum of Fine Arts</h4>

<p>Atomizer is an independent record label which shares
the name with an album by the almighty Big Black. Design inspiration was provided 
by websites for non-fictional labels like Dangerbird and Nonesuch.</p>

<p>With a roster that includes such luminaries as Brainiac,
Tribes of Neurot, Flaming Lips and countless others, you're 
guaranteed to find something to enjoy during your next listening
session.


</p>

<p>Much like its predecessor, Atomizer runs on HTML and CSS, 
but also utilizes jQuery plugin called s3Slider. 
 
</p>

<section class="work-box3">

<section id="latestwork3">

<a href="http://ilyasitnikov.com/drop/">

<img src="assets/drop.png" width="400" height="438" alt="customcars" class="image3">

</a>

</section>

</section>

<section id="description3">

<h2>Drop By Drop</h2>

<h4>Created in: 2011</h4>

<h4>Client: School of the Museum of Fine Arts</h4>

<p>DBD was the last website that I created while 
studying Basic Web Design at SMFA. 
 </p>

<p>Heavily based on Wikipedia article on water, 
it attemps to educate the public on a variety of topics, 
including water industry, taste and odor and many more. 
</p>

<p>In addition to HTML, CSS and jQuery,
Drop By Drop utilizes a plugin called ImageFit. 
</p> 

</section>

</section>

<section class="work-box2">

<section id="latestwork2">

<a href="http://www.bu.edu/met/info-center/events/north-campus-networking/">

<img src="assets/rsvp.png" width="400" height="458" alt="customcars" class="image3">

</a>

</section>

</section>

<section id="description2">

<h2>Networking Reception RSVP</h2>

<h4>Created in: 2012</h4>

<h4>Client: Boston University</h4>

<p>In this assignment for BU which I completed at the end of 2012
I was working on a form for an upcoming event for IT professionals. 
</p>

<p>The process involved:
<ul>
<li>Creation of form itself with Gravity Forms</li>
<li>Creation of new Wordpress page</li>
<li>Adding form to the page</li>
<li>Embedding Google Maps shortcode for event address into the page</li>
</ul>

</section>
</p>
</div>
