<div class="hero-unit">

<h1>This is RoR portfolio of Ilya Sitnikov</h1>
<br>
<p>
	My 
	<%= link_to "original portfolio", "http://ilyasitnikov.com/portfolio" %>
	was done in HTML5/CSS3.
	What you see here is Ruby on Rails version of it.
</p>
<br>
<p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
