/* You could change the font */

/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground:green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;


@import 'bootstrap';

body {
   padding-top:60px;	
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
    border: 0; 

}

.footer {

    margin-top: 50px;	
    color: $grayLight;
    a {

         color:$gray;
    }
}

body {
margin-left:13%;
width: 900px;
background-image: url(texture19.jpg);
background-attachment:fixed;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position:relative;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


img {
border: 0;
}


h1, h2, ul {
margin:0;
padding:0;
}

#welcome-box ul {
padding-top:20px;
position:absolute;
}

#welcome-box .work {
position:absolute;
left:350px;
z-index:1;
 -webkit-transform:rotate(25deg);
   -moz-transform:rotate(25deg);
   -o-transform:rotate(25deg);
   -ms-transform:rotate(25deg);
}

#welcome-box .blog {
position:absolute;
left:450px;
top:53px;
 -webkit-transform:rotate(13deg);
   -moz-transform:rotate(13deg);
   -o-transform:rotate(13deg);
   -ms-transform:rotate(13deg);
z-index:1;
}

#welcome-box .cv {
position:absolute;
left:580px;
top:63px;
 -webkit-transform:rotate(0deg);
   -moz-transform:rotate(0deg);
   -o-transform:rotate(0deg);
   -ms-transform:rotate(0deg);
z-index:1;

}

#welcome-box  ul li {
display:inline-block;
padding-left: 25px;
-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
    -webkit-transform:rotate(30deg);
   -moz-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   -ms-transform:rotate(30deg);
}

ul li a {
color:white;
text-decoration:none;
}

.image {
padding-left:45px;
position:relative;
float:left;
}

.image2 {
padding-left:20px;
padding-top:20px;
}

.image3 {
padding-top:20px;
}


#description {
padding-bottom:70px;
padding-top:20px;
background-color:#FFD700;
}

#description2 {
padding-bottom:30px;
padding-top:20px;
padding-left:-10px;
background-color:#FFD700;
border-top:2px dashed black;
}

#description2 ul li {
padding-left:30px;
padding-bottom:30px;
}

#description2 p, #description2 h2, #description2 h4, .image3 {
padding-left:30px;

}

#description3{
padding-bottom:50px;
margin-right:100px;
padding-top:20px;
background-color:#FFD700;
}



#welcome-box {
height:200px;
border-bottom:5px solid black;
background:green;
background-color:rgba(0,180,0,0.5);
}

.work-box{
height:500px;
border-bottom: 2px dashed black;
opacity:0.9;
}


.work-box2{
float:right;
}

.work-box3{
clear:both;
border-bottom:2px dashed black;
width:100%;
}



#latestwork{
padding-right:40px;
float:left;
background-color: #FFD700;
}

#latestwork2{
clear:both;
padding-right:40px;
padding-left:20px;
}

#latestwork3{
float:left;
padding-right:20px;
margin-right:20px;
}


ul{
list-style-type: none;
}

#latestwork h3  {
margin-bottom:22px;
}

a:link {

color:white;

}

a:visited {

color:black;

}